*{
    padding: 0;
     margin:0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;


}

:root{

    --main-color:#fdbc08;
    --text-color:#ffffff;
}
body{

    background-color: rgb(22, 21, 21);
    
}
header{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0% 5%;
    width: 80%;
}
ul{
    list-style: none;
}
.logo{
   
    color: var(--main-color);
    font-weight:bold;
    font-size: 2rem;
    text-decoration: none;
}

.navbar{
    
    display: flex;
    justify-content: space-between;
    
}
.navbar li{
    padding:0 10px;
    
}
.navbar a{
    text-decoration: none;
     color: wheat;
     font-size: 1rem;
     padding:0% .5%;
}

.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}


#menu{
    font-size: 2rem;
    cursor:pointer;
    display:none;
}

section{
    padding: 2% 5%;
}
.Home{
    margin-top: 2%;
    width: 90%;
    display: grid;
    height: 80vh;
    color: #ffffff;
    
    grid-template-columns:repeat(2,1fr);
    align-items: center;
}
.Home h2{
    font-weight:700;
    font-size:1.6rem;
}
.site{
    color:var(--main-color);
}
.Home a{
    text-decoration: none;
   
}
.btn{
    display:inline-block;
    margin-top:3%;
    
    padding: 1%;
    background-color:var(--main-color);
    color:white;
  
    border-radius: 5px;
}

.btn:hover{

    background-color: #fd6a08;
    transition: .5s;
}

.About{
    margin-top:12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white
}
.About h3{
    color:orangered;
}